target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

/install_linux/
/install_windows/
*.deb
.settings/
*.prefs
.settings
.project
.classpath
gen
target
bin
project.properties
output.log
gwt-unitCache/
widgetsets/
tmp
*.zip
*/tests/*
*.log
*.deb
*.*~
*.lyx#
*.orig
*.log*
*.releaseBackup
release.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
